*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 70px;
    background-color: #030303;
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 20px;
}

header img{
    height: 50px;
}

.pokedex{
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
       
}

.display{
        
    background: rgb(252,133,70);
    background: radial-gradient(circle, rgba(252,133,70,1) 21%, rgba(255,217,0,0.6674019949776786) 71%);
    border-radius: 5px;
        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
        padding: 30px;
        margin: 20px;
        width: 400px;
        transition: all 0.3s ease-out;
      }



      .cartaoPokemon {
        
        width: 240px;
        height: 400px;
        background:radial-gradient(circle, rgba(252,133,70,1) 21%, rgba(255,217,0,0.6674019949776786) 71%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;


      }

      .pokemonSprite{
        justify-content: space-around;
         width: 242px;
         
      }

      
    
.formLocalizar{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    background-color: azure;
}


.formLocalizar input{
    width: 100%;
    padding: 8px;
    border-radius: 20px;

}

.formLocalizar button{
    width: 100%;
    padding: 8px;
    font-size: 20px;
    border-radius: 20px;
}

.display {
  width: 50%;
  background-color: rgb(122, 183, 221);
}

main{
    display: flex;
    justify-content: center;
}

